!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title
      = data.page.title || 'RubyNoName'
    = stylesheet_link_tag 'normalize', 'all', 'article'
    = javascript_include_tag 'all'

  %body{class: page_classes}
    %header
    %nav{role: 'navigation'}
      %ul{class: 'main-navigation'}
        %li
          = link_to 'Главная', '/'
        %li
          = link_to 'Архив выпусков', '#'
        %li.search
          .wrap
            <input type="text" placeholder="Поиск..." value="" onsubmit="return false;" id="searchmenui_search" class="" name="search">
    #main
      %aside
        %h2 Recent Articles
        %ul
          - blog.articles[0...10].each do |article|
            %li
              = link_to article.title, article.url

      .wrap
        %article
          %h1
            = link_to data.page.title, '/' + request.path
            %span= Russian::strftime(data.page.date, '%B %e, %Y')
          = yield
