---
title: Welcome to Middleman
pageable: true
per_page: 3
---

- content_for :page_links do
  - if paginate
    - if prev_page
      %span= link_to 'Назад', prev_page

    - (1..num_pages).to_a.each do |page_index|
      %span= link_to page_index, page_index == 1 ? '/' : ['/page/', page_index, '/'].join

    - if next_page
      %span= link_to 'Далее', next_page

= yield_content :page_links

- page_articles.each_with_index do |article, i|
  %h2
    = link_to article.title, article
    %span= article.date.strftime('%b %e')
  %p= article.body

= yield_content :page_links
